body{
    font-family: sans-serif;
    width: 99%;
}

#bar{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 5px;
}

#bar-drop{
    height: 25px;
}

#watcher{
    width: 70em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
    display: none;
}
#info{
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
}

#team{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
}

#countdown{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

#match, #alliance, #time{
    font-size: 110px;
    color: #666;
    float: left;
    padding-right: 5%;
    margin-right: 5%;
    border-right: 3px solid #CCC;
}
#alliance{
    text-transform: uppercase;
    margin-left: 18%;
}
#alliance.red{
    color: red;
}
#alliance.blue{
    color: blue;
}
#time{
    margin: 0;
    border: 0;
}
#countdown{
    font-size: 90px;
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
}
#partner1, #partner2, #partner3{
    font-size: 110px;
    color: #666;
    float: left;
    padding-right: 5%;
    margin-right: 5%;
    border-right: 3px solid #CCC;
}
#partner1{
    margin-left: 12%;
}
#partner3{
    margin: 0;
    border: 0;
}

/* Tracker */
#tracker{
    border: 1px solid #CCC;
    width: 75em;
    margin-left: auto;
    margin-right: auto;
}

#tracker table{
    padding-left: 3px;
}

#tracker .header td{
    font-size: 25px;
    padding-right: 15px;
    border-bottom: 2px solid #EEEEEF;
}

#tracker .section-end{
    padding-right: 50px;
}

#tracker td{
    font-size: 25px;
    width: 2%;
    padding: 3px;
}

#tracker .red{
    background-color: #FE3F44;
    padding: 5px;
    color: white;
}

#tracker .blue{
    background-color: #4671D5;
    padding: 5px;
    color: white;
}

#tracker input{
    width: 130px;
}

#tracker .input td{
    border-bottom: 0;
}

#tracker .input .time{
     width: 102px;
}
#tracker .input .time input{
     position: relative;
     top: -15px;
}

#tracker .input .end{
    padding-right: 12px !important;
}

#tracker .input .blue input, #tracker .input .red input{
    width: 140px;
}
#tracker .input .blue, #tracker .input .red{
    padding-right: 0px;
}
